Cookie

### RFC

RFC2109, RFC2965,RFC6265。

目前使用最广泛的 Cookie 标准不是 RFC 中定义的任何一个。而是在网景公司制定的标准上进行拓展后的产物。

### Header

| 首部字段名 | 说明 | 首部类型 |
| --- | --- | --- |
| Set-Cookie | 开始状态管理所使用的的 Cookie 信息 | 响应首字段 |
| Cookie | 服务器接收到的 Cookie 信息 | 请求首字段 |

### Set-Cookie 的字段属性

值可以是 `key-value`，或：`expires`, `max-age`, `domain`, `path`, `secure`，`HttpOnly`,`SameSite`。

Number of seconds until the cookie expires. A zero or negative number will expire the cookie immediately. Older browsers (ie6, ie7, and ie8) do not support max-age. For other browsers, if both (Expires and Max-Age) are set, Max-Age will have precedence.

| 属性| 说明 |
| --- | --- |
| NAME=VALUE | 赋予 Cookie 的名称及其值（必需项） |
| expires=Date | Cookie 的有效期 |
| max-age=Seconds | Cookie 多少秒后过期。0或负数会使得 Cookie 立马过期。IE6、7、8不支持。expires 和 max-age 同时设置了， max-age 会生效。|
| path=PATH | 将服务器上的文件路劲作为 Cookie 的适用对象（不指定，默认是文档所在的目录）。有方法可以绕过，不要期望作为安全机制 |
| demian=DOMAIN | 作为 Cookie 适用对象的域名（不指定，默认是创建 Cookie的服务器的域名）。指定的域名可以做到尾匹配一致。|
| secure| 仅在 HTTPS 通讯时才发送 Cookie |
| HttpOnly| 限制 Cookie 不能被 Javascript 脚本限制，主要为了防止 XXS 获取 Cookie。 |
| SameSite=Strict\|Lax| Allows servers to assert that a cookie ought not to be sent along with cross-site requests, which provides some protection against cross-site request forgery attacks (CSRF).|

服务器不存在可以显式删除 Cookie 的方法。但可以通过覆盖已过期的 Cookie，实现对客户端 Cookie 的实质性删除操作。

参考:
+ 《图解HTTP》第6章第7节
+ [MDN/Set-Cookie](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie)


### Limitations
+ The name=value pair, after encodeURIComponent, should not exceed 4kb. So we can’t store anything huge in a cookie.
+ The total number of cookies per domain is limited to around 20+, the exact limit depends on a browser.